*{
 
}
@font-face{

    font-family: 'Poppins-Regular';

   src: url('../font/Poppins-Regular.ttf');

     }
     @font-face{

    font-family: 'Poppins';

   src: url('../font/Poppins-Medium.ttf');

     }
      @font-face{

    font-family: 'Poppins-Bold';

   src: url('../font/Poppins-Bold.ttf');

     }
      @font-face{

    font-family: 'Poppins-SemiBold';

   src: url('../font/Poppins-SemiBold.ttf');

     }
body{
    font-family: Poppins-Regular;
    padding: 0px;
    width: 100%;
    background-color: #F1F6FA;  
}
#main{
   
    margin: auto;
}
.background-default{
    background: #F1F6FA !important;
}
.font-600{
    font-weight: 600;
}
.font-400{
    font-weight: 400;
}
.z-index-1{
    z-index: 1;
}
.heading{
    width: 600px;
    text-align: left;
    font:  70px/76px Poppins;
    letter-spacing: -2.1px;
    color: #041839;
    z-index: 1;
    background-color: transparent;
}
.button_article{
    width: 118px;
    height: 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #1C9DF4;
    border-radius: 32px;
    bottom: 19px;
}
.text-menu{
    color: #041839;
}
.sky{
    color: #049BF7;
}
#description{
    width: 405px;
    height: 86px;
    text-align: left;
    letter-spacing: 0px;
    color: #041839;
    z-index: 1;
    background-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;  
}
#vour_item1, #vour_item2, #vour_item3{
    width: 318px;
    height: 343px;
    padding: 40px;
    margin: auto;
    text-align: center;
}

#conten_button{
    width: 204px;
    height: 39px;
    margin: 10px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    line-height: 39px;
    font-size: 14px;
    border-radius: 14px;
    background-color:#FFD051;
    z-index: 1;
    
}
#pours{
    background-color: #1C2A34;
}
.video_button{
    gap: 30px;
    font-size: 18px;
    z-index: 1;
    background-color: transparent;
}
.video_button>i{
    font-size: 30px;
}
.image_vours{
    width: 80px;
    
}
.heading_vours{
    font-size: 20px;
}
.bg-button1{
    background-color: #049BF7;
    width: 237px;
    height: 39px;
    border-radius: 22px;
    line-height: 30px;
    
}
.descripton_vours{
    font-size: 16px;
    color: #1C2A34;
    letter-spacing: 0px;
    text-align: center;
}
#pours{
    margin-top: 100px;  
    padding-top: 100px;
}
.headding_pours{
    font-size: 50px;
    font-weight: bold;
    color: #049BF7;
    font-family: Poppins-Bold;
}
.description_pours{
    font-size: 26px;
    font-weight: normal;
    line-height: 38px;
    font-family: Poppins-Regular;
}
.image_pours{
   border-bottom-right-radius: 22px;
   border-top-right-radius: 22px;

}
.sub_title_pours{
    margin-top: 100px;
} 
#about_pours{
    height: 687px;
    background-color: #FF7D66;
    border-radius: 22px;
    margin-top: 150px;
   
}
.margin_top100{
    margin-top: 100px;
}
.font_40{
    font-size: 40px;
}
.font_bold{
    font-weight: bold;
}
.font_20{
    font-size: 20px;
}
.text_color_blue{
    color: #049BF7;
}

.dark_blue{
    color: #1C2A34;
}

.border_radius_22{
    border-radius: 22px;
}
.buton_custom1{
    height: 39px;
    text-align: center;
    list-style: 39px;
    background-color: #FFD051;
}
.article_big{
   max-width: 767px;
    height: 454px;
}
.article_small{
    width: 318px;
    height: 454px;
}
.width_article{
    max-width: 1034px;
}
.image_article1{
    width: 318px;
    height: 126px;
}
.image_article2{
    width: 292px;
    height: 399px;
}
.padding-19{
    padding: 19px;
}
.margin_left{
    margin-left: 12px;
}
.button-2{
    width: 237px;
    height: 39px;
    text-align: center;
    line-height: 30px;
    border-radius: 22px;
    border: none;
}
.button-3{
    width: 220px;
    height: 38px;
    border: 2px solid #1A9BF7;
    border-radius: 20px;
    background-color: transparent;
}
.article-2-text{
    width: 316px;
    margin-left: 36px;
}
.color-1{
    background-color:#4CC6A026;
    color: #4CC6A0;
}
.color-2{
    background-color: #FF7D6626;
    color: #FF7D66;
}
.color-3{
    background-color: #1C9DF426;
    color: #1C9DF4;
}
.color-4{
    background-color:#FFD05166;
    color: #EAAB00;
}
.orange{
    background-color: #FF7D66;
}
.bg-dark{
    background-color: #041839;
}
.margin-top-210{
    margin-bottom: 210px;
} 
.margin-bottom-100{
    margin-bottom: 100px;
}  
.magrin-bottom-200{
    margin-bottom: 200px;
}
.padding-top-100{
    padding-top: 100px;
}
.padding-top-65{
    padding-top: 65px;
}
.width-logo-bottom{
    width: 150px;
}
.prev, .next{
    width: 34px;
    height: 34px;
    border: none;
    font-size: 30px;
    line-height: 34px;
    background-color: transparent;
}
.over{
    width: 1023px;
    height: 473px;
}
.model{
    top: 20%;
    right: 10%;
}

@media (min-width :1024px) {
#main{
    width: 1024px;
}  
.list{
min-width: 120px;
}
.list_menu{
    height: 100px;
    width: 1024px;
    margin: auto;
    align-items: center;
}
.image_header{
    max-width: 733px;
    height: 412px;
    top: 30px;
    right: 0px;
    z-index: 0;
}
#slider{
    margin-top: 100px;
    height: 425px;
   
}
#slider-item1, #slider-item2, #slider-item3{
    width: 1024px;
    height: 422px;
    border-radius: 15px;
    padding: 35px;
}
.body_pours{
    width: 1024px;

}
#vours{
    width: 1024px;
    display: flex;
}

.image_pours{
    height: 687px;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
.list_menu{
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    width: 95%;
}
.image_header{
    top:0px;
    right: 0px;
    height: 412px;
}
#slider{
    margin-top: 50px;
}
.image_pours{
    height: 687px;
   right: -24px;
}

}
@media(max-width :768px){
.list_menu{
    height: 80px;
    width: 100%;
}
.list{
    height: 50px;
    line-height: 50px;
    border: 1px solid #ccc;
    border-radius: 14px;
    padding-left: 20px;
}
.image_header{
    margin: auto;
    top: -35px;
    left: 0px;
    width: 100%;
    height: 412px;
}
.heading{
    font-size: 50px;
    line-height: 60px;
}
.heading, #description, #conten_button, .video_button{ 
    position: relative;
    top: 280px;
   
}
#slider{
    position: relative;
    top: 400px;
}
.image_pours{
  max-height: 500px;
  border-radius: 0px;
  top:600px;
}
.magrin-bottom-400{
    margin-bottom: 500px;
}
.imgage-over{
    left: 0px;
    top: 250px;
}
}

